
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}

/*-------------------header-----------------------------*/

/*----------------navigation----------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 60px;
}

nav a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 44px;
    padding-bottom: 44px;
    border-top: 3px solid white;
}
nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;    
} 

.inscription a {
    font-weight: bold;
    color: #0065FC;
} 
.inscription a:hover {
    border-top: none;
}


/*-----------------------------search----------------------------*/

.search {
    margin: 30px;
}

.formulaire {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    width: 400px;
    height: 50px;
    border-radius: 20px / 10px;
}

.map {
    padding: 17px 16px 17px 16px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2 ;
    border-radius: 14px 0 0 14px;  
    text-align: center;
}

input {
   padding: 15px;
   border: none;
   font-weight: bold;
}

button {
    padding: 19px 43px 14px 40px;
    border-radius: 0 14px 14px 0;
    border: none;
    background-color: #0065FC;
    align-items: center;
    color: white;
    font-weight: bold;
}

/*-------------------------filtres---------------------*/

.filtres {
    display: flex;
    align-items: center;
}

.filtres h3 + ul  {
    display: flex;
    justify-content: space-around;
}

.filtres ul li {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style: none;
    border: 3px solid #F2F2F2;
    border-radius: 200px;
    padding: 0 20px 0 0;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bold;
}
   
.ifiltre  {
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 20px;
   padding: 18px;
   margin-right: 20px;   
}

.filtres ul li:hover {
   background-color: #DEEBFF;
}

.info p {
    display: inline;    
}

.info .fas {
    color: #0065FC;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 20px;
    font-size: 16px;
    padding: 7px 11px 7px 11px;    
}

/*---------------------footer------------------------------*/ 
 
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 18px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
.footerliste {
   width: 50%;
   margin-left: 30px;
}
footer li {
    padding: 5px;
}
