body {
    font-family: 'Raleway', sans-serif;
}
#bloc_page {
    width: 1500px;
    margin: auto;
}
a {
    text-decoration: none;
    color: initial;
}

/*-------------------header---------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin-right: 60px;
}
.inscription a {
    font-weight: bold;
    color: #0065FC;
} 
    

/*---------------------footer------------------------------*/ 
 
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content:space-around;
    padding-bottom: 25px;
}
.a_propos a { 
    display: flex;
    flex-direction: column;
}
.nos_hebergements a {
     display: flex;
     flex-direction: column;
}
.assistance a {
    display: flex; 
    flex-direction: column;
}

