
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/*-------------------header-----------------------------*/

/*----------------navigation----------------------------*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 60px;
}

nav a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 44px;
    padding-bottom: 44px;
    border-top: 3px solid white;
}
nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;    
} 

.inscription a {
    font-weight: bold;
    color: #0065FC;
} 
.inscription a:hover {
    border-top: none;
}


/*--------------------recherche-----------------------*/

.recherche {
    margin: 30px;
}

.formulaire {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    width: 30vw;
    height: 50px;
    border-radius: 20px / 10px;
}

.map {
    padding: 17px 16px 17px 16px;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;  
    text-align: center;
}

.ville {
   border: none;
   font-weight: bold;
   width: 18vw;
   height: 50px;
   text-align: start;
   padding-left: 10px;
}

button {
    border-radius: 0 14px 14px 0;
    border: none;
    background-color: #0065FC;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 8vw;
    height: 50px;
}

.icone_loupe {
    display: none;
}

/*-------------------------filtres---------------------*/

.filtres {
    display: flex;
    align-items: center;
}

.filtres h3 + ul  {
    display: flex;
    justify-content: space-around;
}

.filtres ul li {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style: none;
    border: 3px solid #F2F2F2;
    border-radius: 200px;
    padding: 0 20px 0 0;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bold;
}
   
.ifiltre  {
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 200px;
   padding: 25px;
   margin-right: 25px;   
}

.filtres ul li:hover {
   background-color: #DEEBFF;
}

.info p {
    display: inline;    
}

.info .fas {
    color: #0065FC;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 16px;
    padding: 7px 11px 7px 11px;    
}

/*--------------------hebergements------------------------*/

.hebergements_central {
    display: flex;
    justify-content: space-around;     
}

.hebergements_principaux {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;    
}

.hebergements_principaux h2 {
    padding-left: 40px;
    margin-top: 40px;
}

.hebergements_principaux article {
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #e2e2e2;
    width: 30%;
    height: 13.5vw;
}

.hotel1, .hotel2{
    display: flex;
    justify-content:space-around;
    margin: 30px;
}

.hotel img {
    width: 100%;
    height: 8vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hotel h3 {
     margin: 5px 0 0 10px;
}

.hotel p {
    margin: 2px 0 5px 10px;
}

.etoile {
    margin-left: 10px;
}

.full {
    color: #0065FC;   
    margin: 0;
}

.empty {
    color: #e2e2e2;
    margin: 0;
}

.plus {
    padding-left: 40px;
    padding-top: 20px;
}

.populaire {
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.titre_populaire {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-top: 20px;
}

.hotel_populaire {
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #e2e2e2;
    width: 72%;  
    height: 10vw ; 
    margin: 15px;
    display: flex;  
}

.hotel_populaire img {
    width: 9vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 20px 0 0 20px;  
}

.hotel_populaire h3 {
    margin: 7px 0 4px 15px;
}

.hotel_populaire p {
    margin: 2px 0 5px 15px;
}

.etoile_pop {
    margin: 45px 0 0 15px;
}
/*---------------------activites---------------------------*/

#activites {
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 45px;
}

#activites h2 {
    margin-left: 25px;
}

.activites article {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #e2e2e2;
}

.activites {
   display: flex;
   justify-content: space-around; 
}

.vieux_port img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.calanques img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.fort img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.fort {
    height: 240px;
}
.frioul img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 
.frioul {
    height: 240px;
}

.notre_dame img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.notre_dame {
    height: 240px;
}

.parc img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.parc {
    height: 240px;
} 

.activites h3 {
    margin-left: 20px;
}

.images_vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------------footer-----------------------------*/ 
 
footer {
    background-color: #F2F2F2;
    display: flex;
    padding-bottom: 30px;
    padding-top: 18px;    
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.footerliste {
    width: 50%;
    margin-left: 30px;
}

footer li {
    padding: 5px;
}

footer h3 {
    margin-left: 5px;
}

/*----------------------media queries-------------------*/

/*----------------------tablette (paysage---------------*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {


    .formulaire {
        width: 40vw;
    }
  

    .hebergements_principaux article {
        width: 90%;
        height: auto;
        margin: 10px;
        margin-left: 25px;
    }
   
    .hotel_populaire {
        width: 85%;
        height: 20%;
    }

    

    .etoile_pop {
        margin: 0px 0px 0px 15px;
    }

    #activites {
        margin-left: 0;
    }

    .activites img {
        width: 100%
    }

    .activites article {
        width: 21vw;
        height: auto;
    }


    footer {
        width: 100%;
    }
}

/*----------------------tablette (portrait)-------------*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
    
    .inscription {
        position: absolute;
        top: 52px;
        right: 0px; 
    }
 
    .inscription :hover {
        border-bottom: none;
    }
 
     nav {
         flex-wrap: wrap;
     }
   
     nav li {
         margin: 0;
     }

     nav ul {
         width: 100%;
         padding: 0;
     }
 
     .menu_hebergements {
         width: 50%;
         padding-top: 60px;
         margin-right: 0;
         padding-bottom: 15px;
         border-bottom: 4px solid #F2F2F2;
     }
     
     .menu_activites {
         width: 50%;
         padding-top: 60px;
         border-bottom: 4px solid #F2F2F2;
     }
 
     nav a:hover {
         border-top: none;
         border-bottom: 4px solid #0065FC;
     }

    .formulaire {
        width: 90%;
    }

    .bouton_recherche {
        display: none;
    }

   .ville {
        width: 48vw;

    }

    .icone_loupe {
        display: unset;
        width: 50px;
        border-radius: 15px;   
    }


    .filtres ul{
        flex-direction: column;
        align-items: flex-start ;
    }

    .filtres {

    align-items: flex-start;
    flex-direction: column;
}
    #hebergements {
        flex-direction: column-reverse;
    }

    .populaire {
        width: 100%;
        border-radius: 0;
        padding-bottom: 15px;
    }

    .hotel_populaire {
        width: 85%;
        height: 30vw;
    }

    .hotel_populaire img {
        width: 30vw;
        height: 30vw;
    }

    .etoile_pop {
        margin: 90px 0 0 15px;
    }


    .hebergements_principaux {
        width: 100%;
        background-color: white;
    }

  .hotel1, .hotel2 {
       flex-direction: column;
       margin: 5px;
   }

   .hebergements_principaux h2 {
    margin-left: 0px;
}

.hebergements_principaux article {
    width: 90%;
    height: auto;
    margin: 10px;
    margin-left: 25px;
}
.hebergements_principaux img {
    width: 100%;
    height: 30vw;
}


.plus {
    margin-bottom: 5px;
    margin-left: 10px;
}


    .activites {
        flex-direction: column;
    }

    .activites img {
        width: 100%;
        height: 150px;
    }

    .activites article {
        height: auto;
        margin: 10px;
    }

    footer {
        flex-direction: column;
    }
}

/*-----------smartphones (portrait)-------------*/

@media only screen and (max-device-width : 480px) {


   .inscription {
       position: absolute;
       top: 47px;
       right: 0px; 
   }

   .inscription :hover {
       border-bottom: none;
   }

    nav {
        flex-wrap: wrap;
    }
  
    nav li {
        margin: 0;
    }

    .menu_hebergements {
        width: 50%;
        padding-top: 20px;
        margin-right: 25px;
        padding-bottom: 15px;
        border-bottom: 4px solid #F2F2F2;
    }
    
    .menu_activites {
        width: 50%;
        padding-top: 20px;
        border-bottom: 4px solid #F2F2F2;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }

    .formulaire {
        width: 90%;
    }

    .bouton_recherche {
        display: none;
    }

   .ville {
        width: 48vw;

    }

    .icone_loupe {
        display: unset;
        width: 50px;
        border-radius: 15px;   
    }

    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-left: 2px;
    }

    #hebergements {
          flex-direction: column-reverse;
      }

    .populaire {
          width: 100%;
          border-radius: 0;
          padding-bottom: 15px;
    }

    .hotel_populaire {
        width: 80%;
        height: 40vw;
    }

    .hotel_populaire img {
        width: 30vw;
        height: 40vw;
    }

    .hebergements_principaux {
          width: 100%;
          background-color: white;
      }

    .hotel1, .hotel2 {
         flex-direction: column;
         margin: 5px;
     }
    
    .hebergements_principaux h2 {
        margin-left: 0px;
    }

    .hebergements_principaux article {
        width: 85%;
        height: 52vw;
        margin: 10px;
        margin-left: 20px;
    }
    .hebergements_principaux img {
        width: 100%;
        height: 30vw;
    }


    .plus {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .activites {
        flex-direction: column;
    }
    .activites img {
        width: 100%;
        height: 150px;
    }
    .activites article {
        height: auto;
        margin: 10px;
    }

    #activites h2 {
        margin-left: 18px;
    }

    footer {
        flex-direction: column;
    }
    .footerliste {
        width: 80%;
    }  
}

